body {
    font-family: 'Merriweather Sans', sans-serif;
}

#client {
    #logo {
        width: 10%;
        height: 10%;
        margin: 1rem;
    }

    article {
        border: 2px solid #C3CFD9;
        padding: 0.5rem;
        margin-bottom: 1rem;

        time {
            font-size: 90%;
        }

        h2 {
            margin: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    h2 {
        margin: 1rem 0;
    }
}

///// Debugging /////////////////////////////////////////////////////

#debug pre {
    margin: 0;
    color: white;
    font-family: monospace;
    background-color: rgba(0,0,0,0.35);
    position: fixed;
    padding: 0.4rem;
    top: 0.4rem; 
    right: 0.4rem;
}
